body {
	background-color: white;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

ul {
	list-style: none;
}

footer {
	text-align: center;
	float: none;
}

footer ul {
	margin: 0 auto;
	padding: 0px;
}

footer li {
	display: inline-block;
}

.profile {
	text-align: center;
}

img#profile {
	border: 2px solid #eee;
	float: none;
	padding: none;
}

div#content {
	margin: 0 auto; /* vertical horizontal */
	width: 60%;
}

a {
	font-weight: 400;
	color: black;
	text-decoration: none;
}