* {
	box-sizing: border-box;
}

.clearfix:after {
	Visibility: hidden;
	Display: block;
	Font-size: 0;
	Content: " ";
	Clear: both;
	Height: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.hidden {
  display: none;
}

header {
  background-color: #003366;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #faf8f9;
  height: 10rem;
  width: 100%;
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 0.4s ease;
}

header h1 {
  margin: 0;
  float: left;
  line-height: 5rem;
  font-size: 5em;
  transition: all 0.6s ease;
}

header.scroll {
  height: 7rem;
  padding: 1rem;
}

header.scroll h1 {  
  margin: 0;
  float: left;
  font-size: 2.5em;
}

.iconmenu,
.hamburgermenu {
  float: right;
}

.hamburgermenu {
  display: hidden;
}

.hamburger,
.icon {
  height: 100%;
  margin-right: 2rem;
  padding-top: 1rem;
  cursor: pointer;
}

.dropmenu {
  background-color: #b0bfe0;
  font-family: 'Roboto', sans-serif;
  border-top: 5px solid #78abec;
  box-shadow: 0px 2px 2px 0px rgba(176,191,224,1);
  font-weight: 400;
  color: #000;
  height: 10rem;
  width: 100%;
  position: absolute;
  top: 10rem;
  left: 0;
  z-index: 1;
  transition: all 0.6s ease;
}

.scroll > .dropmenu {
  top: 7rem;
}

#content {
  margin-top: 10.8rem;
  padding: 2rem;
  width: 100%;
  height: 600px;
}

#fullmap {
  padding: 0 2rem;
  width: 100%;
  height: 100%;
}

.vessel {
  width: 50%;
  padding: 2rem;
  color: #1c1d1b;
  float: left;
}

.vessel:hover {
  box-shadow: 0px 0px 2px 1px rgba(221,221,221,0.75);
}

.vesselname,
.vesselabbrev {
  display: block;
  text-align: center;
}

.vesselmain {
  width: 100%;
  min-height: 26rem;
}

.vessel img {
  clear: both;
  margin: 1rem auto;
  display: block;
  height: auto;
  max-width: 100%;
}

.vessel h3 {
  background-color: #78abec;
  padding: 1rem;
  display: block;
  clear: both;
}

.vessel h3 i {
  margin-right: 1rem;
}

.vesselname {
  font-size: 2em;
  font-weight: 600;
  background-color:  #5e6c79;
  color: #9ebee4;
  padding-top: 1rem;
}

.vesselabbrev {
  font-size: 1.25em;
  font-weight: 500;
  font-style: italic;
  background-color:  #5e6c79;
  color: #9ebee4;
  padding-bottom: 1rem;
}

.vesselnamedesc p{
  display: block;
  padding-left: 1rem;
}

.vesselnamedesc p span {
  font-weight: 700;
  font-style: italic;
}

.map { 
  height: 150px;
  width: 100%;
}

.vesselstats {
  clear: both;
}

.vesselfeatures,
.vesselstats ul,
.vesseldetails ul {
  width: 50%;
  float: left;
  list-style: none;
}

.vesselfeatures p {
  font-weight: 700;
}

li span {
  font-weight: 700;
}

.vesseladainfo {
  clear: both;
}

.vesseladainfo p {
  padding-left: 1.5rem;
}


/* Responsive */
@media only screen and (max-width: 800px){
  header {
    height: 7rem;
    padding: 1rem;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  header.scroll h1 {  
    font-size: 2em;
  }
  
  
  .hamburgermenu {
    display: block;
  }

  
  .vessel {
    float: none;
    width: 100%;
  }
}
 