---
layout: layouts/base.njk
---

<div class="d23daily-titlebar">
    <h1><span class="d23daily-title">"March of the Dark Thallos"</span><span class="d23daily-subtitle"> - A Dungeon 23 Project</span></h1>
</div>
<div class="d23daily-grid">
    <div class="d23daily-griditem-metadata">
        <span>
            <b>Metadata:</b>
        </span>
        <ul>
            <li>
                <b>Room ID:</b> 0101
            </li>
            <li>
                <b>Date:</b> JAN-01-23
            </li>
            <li>
                <b>Name:</b> Square Splits
            </li>
        </ul>
    </div>
        <div class="d23daily-griditem-map grid-row-span-2">
        <img src="https://raw.githubusercontent.com/zachpetersen/DnD/main/dungeon-sample.png"/>
</div>
    <div class="d23daily-griditem-encounters">
        <span>
            <b>Encounters:</b>
        </span>
        <ul>
            <li>Bug Bear</li>
            <li>72 Theives</li>
            <li>Yo Momma whos Mad</li>
        </ul>
    </div>

    </div>
    <div class="d23daily-griditem-notes grid-col-span-2">
        <span>
            <b>Notes:</b>
        </span>
        <div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere quam ut 
                volutpat fringilla. Curabitur ultrices augue quam, eleifend pharetra libero gravida 
                at. Nullam odio dolor, efficitur sed dolor vel, feugiat faucibus mauris. Donec quis 
                risus rhoncus, varius nulla vitae, vehicula diam. Nunc leo leo, pellentesque eu purus
                sed, rutrum ornare mi. Mauris sed egestas justo, ac gravida purus. In congue vitae
                justo nec consectetur. Nunc scelerisque, erat porttitor fringilla malesuada, 
                leo nisl imperdiet diam, a aliquet tellus augue eget ante. Sed sed elit at sapien
                tempus varius. Nulla lobortis fermentum odio ut efficitur. Cras mi urna, condimentum
                ac nunc a, fermentum facilisis ex. Sed suscipit a urna ac congue. Nunc mollis tortor
                sapien, in ultricies est dictum nec.
            </p>
            <p>
                In sed risus faucibus urna varius consectetur a egestas ex. Pellentesque varius lacus 
                a odio lacinia, a accumsan libero tincidunt. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia curae; Cras accumsan gravida tellus. 
                Suspendisse molestie pulvinar blandit. Vivamus ultricies commodo eros eget volutpat.
                Aenean consectetur ligula risus, a mollis odio ultrices id. 
            </p>
        </div>
    </div>
</div>